doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords", content="")
    meta(name="description", content="Первая вестка")
    title tinyone
    link(rel="preload", href="css/style.min.css", as="style")
    link(rel="preload", href="css/all.min.css", as="script")
    link(rel="preload", href="fonts/PTSans-Regular.woff", as="font")
    link(rel="preload", href="fonts/PTSans-Bold.woff", as="font")
    link(rel="stylesheet", href="css/style.min.css")
  body 
    h1.visually-hidden tinyone
    .top
      .top__wrap.wrap
        include parts/header.pug
        include parts/banner.pug
    include parts/features.pug
    include parts/footer.pug

    script(src="js/all.min.js")
