doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="keywords", content="")
    meta(name="description", content="Первая вестка")
    title tinyone
    link(rel="stylesheet", href="css/style.css")
  body 
    h1.visually-hidden tinyone
    .top
      .top__wrap.wrap
        include parts/header.pug
        include parts/banner.pug
    include parts/features.pug
