section.banner
  h2.visually-hidden Баннер
  .banner__left
    p.banner__title Inspire your inspiration
    p.banner__subtitle Simple to use for your app, products showcase and your inspiration
    p.banner__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit
    ul.banner__list
      li.banner__list-item
        a(href="#").banner__link
          svg(aria-label="Apple", width="33", height="45").banner__svg
            use(xlink:href="img/symbol/sprite.svg#apple")
      li.banner__list-item
        a(href="#").banner__link
          svg(aria-label="Android", width="33", height="45").banner__svg
            use(xlink:href="img/symbol/sprite.svg#android")
      li.banner__list-item
        a(href="#").banner__link
          svg(aria-label="Windows", width="33", height="45").banner__svg
            use(xlink:href="img/symbol/sprite.svg#windows")
  .banner__right
    p.banner__img
      //-img(src="../img/ipad.png", alt="iPad", width="316", height="470")
      picture
        source(srcset="img/ipad.webp", type="image/webp", media="(min-width: 745px)")
        source(srcset="img/ipad.png", type="image/png", media="(min-width: 745px)")
        img(src="img/ipad.png", media="(min-width: 745px)", alt="iPad")
