section.features
  .features__wrap.wrap
    .features__top
      h2.features__title Tinyone features
      p.features__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
    ul.features__list
      li.features__item.features__item--responsive
        h3.features__name Fully Responsive
        p.features__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
      li.features__item.features__item--layer-psd
        h3.features__name Fully Layered PSD
        p.features__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
      li.features__item.features__item--icons
        h3.features__name Font Awesome Icons
        p.features__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
      li.features__item.features__item--html
        h3.features__name HTML3 &amp; CSS3 
        p.features__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
      li.features__item.features__item--email
        h3.features__name Email Template 
        p.features__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
      li.features__item.features__item--download
        h3.features__name Free to download 
        p.features__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.
