header.header
  nav.header__navigation
    a(href="/").header__logo
      img(src="img/logo.png", alt="Логотип tinyone", width="149", height="43").header__logo-img
    ul.header__menu.menu
      li.menu__item
        a(href="#").menu__link Features
      li.menu__item
        a(href="#").menu__link Support
      li.menu__item
        a(href="#").menu__link Blog
