@use "sass:math";

@import "variables.scss";
@import "mixins";
@import "fonts";
@import "normalize";
@import "core";

@import "blocks/header";

body {
  margin: 20px auto;
  margin: 0 math.div(15, 10);
  font-size: 16px;
}
